body {
    font-size : small;
    margin: 0;
    padding: 0;
    background-color: var(--surface-b);
    font-family: var(--font-family);
    color: var(--text-color);
}

.ui-widget {
    font-size: small !important;
}

.ui-panel-titlebar {
    text-align: center;
}

.table-no-header thead {
    display: none;
}

.ui-menu.ui-menubar {
    border-radius: 0 !important;
    border-width: 0 0 1px 0 !important;
}

.container {
    padding: 2rem;
}

h2.sub-title {
    margin-top: 0;
}

.table-header {
    font-weight: bold;
    text-transform: uppercase;
    min-height: 30px;
    display: flex;
    align-items: flex-end;
}

.p-field, .switch-block {
    margin-bottom: 1rem;
}

.p-field > label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.switch-block {
    display: flex;
    align-items: center;
}

.switch-block label {
    padding-right: 15px;
    width: 150px;
}

.align-right {
    text-align: right;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.panel-grid-center .ui-panelgrid-cell {
    display: flex;
    align-items: center;
}

.panel-grid-center .ui-panelgrid-cell input {
    width: 270px;
}

.p-h-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.w-120 {
    width: 120px !important;
}

.ui-linkbutton a {
    text-decoration: none;
}