<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui">
    <h:outputLabel for="shareable" value="#{msg['resource.shareable']}"/>
    <p:inplace effectSpeed="fast" mode="${mode}">
        <p:inputSwitch converter="BooleanConverter" id="shareable" value="${value}"/>
        <!-- todo voir comment fonctionne ça et faire passer un élément child -->
    </p:inplace>
</ui:composition>