<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ae="http://ae/tags"
                template="../layout.xhtml">
    <f:metadata>
        <f:viewParam name="id" value="#{resourceForm.object}"/>
    </f:metadata>

    <ui:define name="content">
        <h:form id="resourceForm">
            <p:card>
                <p:toolbar id="toolbar">
                    <p:toolbarGroup>
                        <p:linkButton value="#{msg['app.new']}" icon="pi pi-plus"
                                      outcome="/resource/form"
                                      styleClass="ui-button-success m-r-10"/>

                        <p:commandButton class="ui-button-warning m-r-10" icon="pi pi-trash"
                                         rendered="#{resourceForm.canDelete(resourceForm.object)}"
                                         actionListener="#{resourceForm.delete(resourceForm.object)}"
                                         value="#{msg['app.delete']}">
                            <p:confirm message="#{msg['app.confirm-deletion']}" header="#{msg['app.confirmation']}" />
                        </p:commandButton>

                        <p:commandButton value="${msg['app.save']}"
                                         action="${resourceForm.save}"
                                         update="@form"
                                         rendered="${resourceForm.renderSaveButton()}"
                                         icon="pi pi-check" />
                    </p:toolbarGroup>

                    <p:toolbarGroup align="right">
                        <p:commandButton value="#{msg['app.back']}"
                                         icon="pi pi-arrow-left"
                                         onclick="history.back()"
                                         styleClass="ui-button-secondary" />
                    </p:toolbarGroup>
                </p:toolbar>

                <table>
                    <p:panelGrid columns="4" cellpadding="10"
                                 columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
                                 styleClass="panel-grid-center"
                                 layout="grid">
                        <h:outputLabel for="name" value="#{msg['resource.name']}"/>
                        <p:inplace effectSpeed="fast" mode="${resourceForm.mode}">
                            <p:inputText id="name" required="true" value="${resourceForm.object.name}">
                                <p:ajax event="keyup" update="toolbar" process="@this" />
                            </p:inputText>
                        </p:inplace>

                        <h:outputText for="type" value="#{msg['resource.type']}" />
                        <p:inplace effectSpeed="fast" mode="${resourceForm.mode}" label="${resourceForm.object.type.name}">
                            <p:selectOneMenu id="type" value="${resourceForm.object.type}">
                                <f:selectItems value="#{resourceForm.types}"/>
                                <p:ajax update="@form" process="@this" />
                            </p:selectOneMenu>
                        </p:inplace>

                        <h:outputLabel for="capacity" value="#{msg['resource.capacity']}" rendered="${resourceForm.renderCapacity()}"/>
                        <p:inplace id="inplaceCapacity" effectSpeed="fast" mode="${resourceForm.mode}" rendered="${resourceForm.renderCapacity()}">
                            <p:inputNumber id="capacity" value="${resourceForm.object.capacity}">
                                <p:ajax event="keyup" update="toolbar" process="@this" />
                            </p:inputNumber>
                        </p:inplace>

                        <h:outputLabel for="shareable" value="#{msg['resource.shareable']}" rendered="${resourceForm.renderShareable()}"/>
                        <p:inplace id="inplaceShareable" effectSpeed="fast"
                                   label="${msg[(resourceForm.object.shareable ? 'app.yes' : 'app.no')]}"
                                   mode="${resourceForm.mode}" rendered="${resourceForm.renderShareable()}">
                            <p:toggleSwitch id="shareable" value="${resourceForm.object.shareable}">
                                <p:ajax update="toolbar" process="@this" />
                            </p:toggleSwitch>
                        </p:inplace>

                        <h:outputText for="manager" value="#{msg['resource.manager']}" />
                        <p:inplace effectSpeed="fast" mode="${resourceForm.mode}" label="${resourceForm.object.manager.userName}">
                            <p:selectOneMenu id="manager" value="${resourceForm.object.manager}">
                                <f:selectItems value="#{resourceForm.managers}"/>
                                <p:ajax update="toolbar" process="@this" />
                            </p:selectOneMenu>
                        </p:inplace>
                    </p:panelGrid>
                </table>
            </p:card>
        </h:form>
    </ui:define>
</ui:composition>