<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="../layout.xhtml">
    <ui:define name="content">
        <h:form id="resourceTable">
            <p:card>
                <p:toolbar>
                    <p:toolbarGroup>
                        <p:linkButton value="#{msg['app.new']}" icon="pi pi-plus"
                                      outcome="/resource/form"
                                      styleClass="ui-button-success"/>
                    </p:toolbarGroup>
                </p:toolbar>

                <p:dataTable value="#{resourceList.lazyModel}"
                             var="res" allowUnsorting="true"
                             paginatorTemplate="{FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                             paginator="true" paginatorPosition="bottom"
                             rows="10" lazy="true" sortMode="single">
                    <f:facet name="header">
                        <div class="table-header">
                            <span>#{msg['resource.list']}</span>
                        </div>
                    </f:facet>

                    <p:column sortBy="#{res.name}" headerText="#{msg['app.name']}" sortOrder="asc" filterBy="#{res.name}">
                        <p:link outcome="/resource/form" value="#{res.name}">
                            <f:param name="id" value="#{res.id}"/>
                        </p:link>
                    </p:column>
                    <p:column sortBy="#{res.manager.userName}" headerText="#{msg['resource.manager']}">
                        #{res.manager.userName}
                    </p:column>
                    <p:column sortBy="#{res.capacity}" headerText="#{msg['resource.capacity']}">
                        #{res.capacity}
                    </p:column>
                    <p:column sortBy="#{res.shareable}" headerText="#{msg['resource.shareable']}">
                        <h:outputText converter="BooleanConverter" value="#{res.shareable}"/>
                    </p:column>
                    <p:column sortBy="#{res.type.name}" headerText="#{msg['resource.type']}">
                        #{res.type.name}
                    </p:column>
                </p:dataTable>
            </p:card>
        </h:form>
    </ui:define>
</ui:composition>
