<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:form id="resourceTypeForm">
        <p:dialog header="${msg[resourceTypeForm.object.new ? 'resource-type.create' : 'resource-type.edit']}"
                  showEffect="fade" modal="true"
                  widgetVar="resourceTypeFormDialog"
                  responsive="true" width="500"
                  draggable="false">
            <p:outputPanel id="manage-resource-type" class="ui-fluid" rendered="${resourceTypeForm.object != null}">
                <div class="p-field">
                    <p:outputLabel for="name">#{msg['resource-type.name']}</p:outputLabel>
                    <p:inputText id="name" value="${resourceTypeForm.object.name}" required="true"/>
                </div>

                <div class="switch-block">
                    <h:outputLabel for="hasCapacity" value="#{msg['resource-type.has-capacity']}" />
                    <p:inputSwitch id="hasCapacity" value="#{resourceTypeForm.object.hasCapacity}"/>
                </div>

                <div class="switch-block">
                    <h:outputLabel for="isShareable" value="#{msg['resource-type.is-shareable']}" />
                    <p:inputSwitch id="isShareable" value="#{resourceTypeForm.object.isShareable}"/>
                </div>
            </p:outputPanel>

            <f:facet name="footer">
                <p:commandButton value="#{msg['app.save']}" icon="pi pi-check"
                                 action="${resourceTypeForm.save}"
                                 update="@form resourceTypeTable"
                                 oncomplete="PF('resourceTypeFormDialog').hide()"/>
                <p:commandButton value="#{msg['app.cancel']}" icon="pi pi-times"
                                 onclick="PF('resourceTypeFormDialog').hide()"
                                 class="ui-button-secondary"/>
            </f:facet>
        </p:dialog>
    </h:form>
</ui:composition>