<?xml version='1.0' encoding='UTF-8' ?>
<ui:composition xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                template="../layout.xhtml">
    <ui:define name="content">
        <h:form id="resourceTypeTable">
            <p:card>
                <p:toolbar>
                    <p:toolbarGroup>
                        <p:commandButton value="#{msg['app.new']}" icon="pi pi-plus"
                                         process="@this"
                                         action="${resourceTypeForm.initDialog(resourceTypeList)}"
                                         update="resourceTypeForm"
                                         oncomplete="PF('resourceTypeFormDialog').show()"
                                         styleClass="ui-button-success"/>
                    </p:toolbarGroup>
                </p:toolbar>

                <p:dataTable value="#{resourceTypeList.data}"
                             var="resourceType" allowUnsorting="true"
                             sortMode="single">
                    <f:facet name="header">
                        <div class="table-header">
                            <span>#{msg['resource-type.list']}</span>
                        </div>
                    </f:facet>

                    <p:column sortBy="#{resourceType.name}" headerText="#{msg['app.name']}" sortOrder="asc">
                        <p:commandLink update="resourceTypeForm"
                                       action="${resourceTypeForm.initDialog(resourceTypeList, resourceType)}"
                                       oncomplete="PF('resourceTypeFormDialog').show()"
                                       process="@this">
                            #{resourceType.name}
                        </p:commandLink>
                    </p:column>
                    <p:column sortBy="#{resourceType.hasCapacity}" headerText="#{msg['resource-type.has-capacity']}">
                        <h:outputText converter="BooleanConverter" value="#{resourceType.hasCapacity}"/>
                    </p:column>
                    <p:column sortBy="#{resourceType.isShareable}" headerText="#{msg['resource-type.is-shareable']}">
                        <h:outputText converter="BooleanConverter" value="#{resourceType.isShareable}"/>
                    </p:column>
                    <p:column sortBy="#{resourceType.resources.size()}" headerText="#{msg['resource.title']}">
                        #{resourceType.resources.size()}
                    </p:column>

                    <p:column width="70" styleClass="align-right">
                        <p:commandButton class="ui-button-warning rounded-button" icon="pi pi-trash"
                                         actionListener="#{resourceTypeList.delete(resourceType)}"
                                         rendered="#{resourceTypeList.canDelete(resourceType)}"
                                         update="@form"
                                         title="#{msg['app.delete']}">
                            <p:tooltip position="top"/>
                            <p:confirm message="#{msg['app.confirm-deletion']}" header="#{msg['app.confirmation']}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:card>
        </h:form>

        <ui:include src="form-dialog.xhtml"/>
    </ui:define>
</ui:composition>
