<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="/css/default.css"/>
        <title>#{msg['app.title']}</title>
    </h:head>
    <h:body>
        <div>
            <h:form>
                <p:menubar>
                    <p:menuitem value="#{msg['app.home']}" icon="pi pi-fw pi-home" outcome="/index"/>
                    <p:menuitem value="#{msg['resource-type.title']}" icon="pi pi-fw pi-th-large" outcome="/resource-type/list"/>
                    <p:menuitem value="#{msg['resource.title']}" icon="pi pi-fw pi-book" outcome="/resource/list"/>
                </p:menubar>
            </h:form>
        </div>

        <p:confirmDialog global="true" width="400">
            <p:commandButton value="#{msg['app.yes']}"
                             type="button"
                             styleClass="ui-confirmdialog-yes"
                             icon="fa fa-check"/>
            <p:commandButton value="#{msg['app.no']}"
                             type="button"
                             styleClass="ui-confirmdialog-no ui-button-secondary"
                             icon="pi pi-times"/>
        </p:confirmDialog>

        <p:dialog widgetVar="dlgStatus" modal="true" draggable="false"
                  closable="false" resizable="false" showHeader="false">
            <p:graphicImage name="/ajaxloadingbar.gif" />
        </p:dialog>

        <div class="container">
            <ui:insert name="content">&nbsp;</ui:insert>
        </div>
    </h:body>
</html>